<div class="edit_article">
<% if current_user&.has_role?(:admin) || current_user&.has_role?(:author) %>
  <%= form_with model: @article do |form| %>
  <div class="edit_article_field">
    <h1>Makaleyi Düzenle</h1>
  </div>
  <div class="edit_article_title">
    <%= form.label :Başlık %><br>
    <%= form.text_field :title, placeholder: "title" %>
  </div><br>

  <div class="edit_article_content">
    <%= form.label :İçerik %><br>
    <%= form.rich_text_area :content, placeholder: "content" %>
  </div><br>

  <div class="edit_article_buttons">
    <%= link_to 'Geri Dön', articles_path%>
    <%= form.submit value:"Güncelle" %>
  </div>
 
  <div>
    <% if @article.avatar.present? && @article.avatar.respond_to?(:url) %>
      <div>
        <%= image_tag(@article.avatar, class: "article_image") %>
        <%= form.file_field :avatar %>
      </div>
    <% end %>
  </div>
  <% end %>
<% end %>
<% if current_user&.has_role?(:admin) || current_user&.has_role?(:editor) %>
  <%= form_with(model: @article, local: true) do |form| %>

  <div class="field">
    <%= form.label :tag_ids, "Tags" %>
    <%= form.collection_select :tag_ids, Tag.all, :id, :name, {}, { multiple: true } %>
  </div>

  <div class="actions">
    <%= form.submit "Add Tag" %>
  </div>
  <% end %>
<% end %>
</div>


 