<div class="edit_article">
  <%= form_with model: @article do |form| %>
  <div class="edit_article_field">
    <h1>Makaleyi Düzenle</h1>
  </div>
  <div class="edit_article_title">
    <%= form.label :Başlık %><br>
    <%= form.text_field :title, placeholder: "title" %>
  </div><br>

  <div class="edit_article_content">
    <%= form.label :İçerik %><br>
    <%= form.text_field :content, placeholder: "content" %>
  </div><br>

  <div class="edit_article_buttons">
    <%= link_to 'Geri Dön', articles_path%>
    <%= form.submit value:"Güncelle" %>
    <%= button_to 'Makaleyi sil', article_path(@article), method: :delete, class:"article_remove" %>
  </div>
  <% end %>


    
 </div>
