<div class="edit_article">
  <%= form_with model: @article do |form| %>
  <div class="edit_article_field">
    <h1>Makaleyi Düzenle</h1>
  </div>
  <div class="edit_article_title">
    <%= form.label :Başlık %><br>
    <%= form.text_field :title, placeholder: "title" %>
  </div><br>

  <div class="edit_article_content">
    <%= form.label :İçerik %><br>
    <%= form.text_field :content, placeholder: "content" %>
  </div><br>

  <div class="edit_article_buttons">
    <%= link_to 'Geri Dön', articles_path%>
    <%= form.submit value:"Güncelle" %>
  </div>
 
  <div>
    <% if @article.avatar.present? && @article.avatar.respond_to?(:url) %>
      <div>
        <%= image_tag(@article.avatar, class: "article_image") %>
        <%= form.file_field :avatar %>
      </div>
    <% end %>
  </div>
  <% end %>
  
</div>


 