<% @articles.each do |article| %>
    <div class="article_card">
      <div class="article_title">
        <h2><%= link_to article.title, article_path(article) %></h2>
      </div>

      <div class="article_body">
        <%= image_tag(article.avatar, class: "article_image") if article.avatar.present? %>
      </div>

      <div class="article_footer">
        <ul>
          <li style="float: left;">Oluşturma Tarihi: <%= article.created_at.strftime('%H:%M %d-%m-%Y ') %></li>
          <% if current_user&.has_role?(:admin) || current_user&.has_role?(:author) %>
            <li style="float: right;"><%= button_to 'Makaleyi sil', article_path(article), method: :delete %></li>
            <li style="float:right; padding:0;"><%= button_to 'Yazıyı Düzenle', edit_article_path(article), method: 'get'%></li>
          <% end %>
          <% if current_user&.has_any_role?(:admin, :editor) %>
          <%= link_to 'Makaleyi Aktifleştir', activate_article_path(article), method: :put, class: 'btn btn-success' %>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>