<div class="container">
  <%#* SEARCH BOX %>
  <div class="search_box">
    <%= search_form_for @q, class: "d-flex ms-2 my-3" do |form| %>
      <%= form.search_field :title_or_content_cont, placeholder: "Search...", class: "form-control mx-1 w-25" %>
      <%= form.button type: 'submit', class: "btn btn-outline-light" do %><i class="fas fa-search"></i><% end %>
    <% end %>
    <% if flash[:alert] %>    
      <div class="text-center text-danger fw-bold fs-4 my-3">
      <%= flash[:alert] %>
      </div>
    <% end %>
  </div>

  <%#* ARTICLES %>
  <div class="container">
    <div class="row">
      <% @articles.each do |article| %>
      <div class="col-md-4">
        <%= link_to article_path(article) do %>
        <div class="card mb-4 bg-dark">
        <%= content_tag :h5, article.title, class: "card-img-overlay text-start text-white fw-bold btn fs-4" %>
          <% if article.avatar.present? %> <%= image_tag article.avatar, class: "card-img rounded" %>
          <% else %> <p class="card-text text-white pt-5"><%= article.content.truncate(150) %></p>
          <% end %>
        </div>
        <% end %>
      </div>
      <% end %>
  </div>
</div>