<div class="new_article">
  <%= form_with model: @article do |form| %>
  <div class="new_article_field">
    <h1>Yeni Makale Oluştur</h1>
  </div>
  <div class="new_article_title">
    <%= form.label :Başlık %><br>
    <%= form.text_field :title %>
  </div><br>

  <div class="new_article_content">
    <%= form.label :İçerik %><br>
    <%= form.text_area :content %>
  </div><br>

  <div class="new_article_buttons">
    <%= link_to 'Geri Dön', articles_path%>
    <%= form.submit value: "Makale Oluştur"%>
  </div>
  <% end %>
</div>