<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <div class="container"> 
    <a class="navbar-brand fw-bold fs-4" href="<%= root_path %>">My Awesome Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mt-2 ms-auto mt-lg-0">

        <% if current_user && current_user.has_role?(:admin) %>
          <li class="nav-item"><%= link_to "Admin Panel", users_path, class: "nav-link" %></li>
        <% end %>

        <% if current_user&.has_any_role?(:admin, :editor, :author) %>
          <li class="nav-item"><%= link_to "Inactive Articles", inactive_articles_path, class: "nav-link" %></li>
        <% end %>

        <% if user_signed_in? %>
        <li class="nav-item"><% if current_user&.has_role?(:admin) || current_user&.has_role?(:author) %>
          <%= link_to "+", new_article_path, class: "btn btn-success me-5" %>
          <% end %></li>
        <li class="nav-item"><%= link_to "Tags", tags_path, class: "nav-link"%></li>
        <li class="nav-item"><%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link btn btn-dark me-1" %></li>
        <li class="nav-item"><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link btn btn-dark"%></li>
        <% else %>
        <li class="nav-item"> <%= link_to "Register", new_user_registration_path, class: "nav-link btn btn-dark rounded-pill" %></li>
        <li class="nav-item"> <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-dark rounded-pill" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>