<div class="container">
  <h1 class="text-white mt-5 ">Tag Details</h1>
  <div id="tag">
    <h6 class="text-danger">Tag Name: <%=@tag.name%></h6>
  </div>

  <%= link_to "Back to Tags", tags_path, class:"btn btn-secondary" %>
  <%= link_to "Edit this tag", edit_tag_path(@tag), class:"btn btn-primary" if current_user&.has_role?(:admin) %> 
  <%= button_to "Destroy this tag", @tag, method: :delete, class:"btn btn-danger mx-5 my-3 mb-5" if current_user&.has_role?(:admin) %>

  <%#* ARTICLES %>
  <div class="container">
    <div class="row">
      <% @articles.each do |article| %>
      <div class="col-md-4">
        <%= link_to article_path(article) do %>
        <div class="card mb-4 bg-dark">
        <%= content_tag :h5, article.title, class: "card-img-overlay text-start text-white fw-bold btn fs-4" %>
          <% if article.avatar.present? %> <%= image_tag article.avatar, class: "card-img rounded" %>
          <% else %> <p class="card-text text-white pt-5"><%= article.content.truncate(150) %></p>
          <% end %>
        </div>
        <% end %>
      </div>
      <% end %>
  </div>
</div>