<!DOCTYPE html>
<html>
  <head>
    <title>NewBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <main> 
  <% if user_signed_in? %>
    Are you admin? <%= current_user.has_role? :admin %> <br>
    <%= current_user.roles.pluck(:name) %>
  <% end %>
    <%= render partial: "shared/navbar" %>
    
    <%= yield %>
  </main>
  </body>
</html>
